xml/eventusmale.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PRODUCTS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ITEM">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="TITLE"/>
              <xs:element type="xs:string" name="DESCRIPTION"/>
              <xs:element type="xs:float" name="PRICE"/>
              <xs:element type="xs:string" name="PHOTO_LOCATION_1"/>
              <xs:element type="xs:string" name="PHOTO_LOCATION_2"/>
              <xs:element type="xs:string" name="PHOTO_LOCATION_3"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>